@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@utility prose {
  blockquote {
    /* Disable adding quote marks to blockquote: https://github.com/tailwindlabs/tailwindcss-typography/issues/66 */
    p {
      &:first-of-type::before,
      &:last-of-type::after {
        content: none;
      }
      font-weight: 400;
    }
  }
}

@font-face {
  font-family: 'RacingSansOne';
  src: url('/fonts/RacingSansOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'RacingSansOne', var(--font-sans);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 0.8s ease-out;
}
