---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ParallaxTitle from '@/components/ParallaxTitle.astro';
import faqImage from '@/assets/faq.jpg';
import { FAQTabs } from '@/components/FAQTabs';
---

<BaseLayout>
  <Fragment slot="head">
    <title>Frequently Asked Questions | Five Star Auto Leather</title>
    <meta
      name="description"
      content="What is the process of getting new car seats and interior fittings for my car? All your questions are answered here."
    />
  </Fragment>

  <ParallaxTitle backgroundImage={faqImage.src} title="Frequently Asked Questions" />

  <section class="container mx-auto w-full max-w-7xl px-6 py-8">
    <FAQTabs client:load />
  </section>
</BaseLayout>
