---
import logo from '@/assets/logo.png';

interface Props {
  width?: number;
}

const { width = 60 } = Astro.props;
---

<a href="/" class="inline-block cursor-pointer">
  <img
    src={logo.src}
    alt="Five Star Auto Leather"
    width={width}
    class="transition-opacity hover:opacity-80"
  />
</a>
